# Python 3.11.8

# pip-tools must be installed:
# python -m pip install pip-tools

# to generate requirements.txt:
# pip-compile requirements.in

black[jupyter]
contextily
fastparquet
folium
geopandas
glob2
ipykernel
ipywidgets
mapclassify
matplotlib
notebook
numpy
pandas
pyarrow
tqdm
